
* { padding: 0; margin: 0; }

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}
.wrapper{
  
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin:auto;
    background-color: #effffb;
    
    flex-grow: 1;
}

header {
    text-align: center;
    background-color: #e1f2fb ;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
}
h1 {
    
  color: blue;
}

table, th, td {

    background-color: #f1fcfc ;
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    padding: 15px;
  }
  

  main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    background-color: #f6f4e6 ;
 
    border-radius: 5px;
    align-items: center;
  
}
@media only screen and (max-width: 768px){
  .wrapper{
      width: 100%;
   
  }
  main {
   
      width: 80%; 
      margin-left: 10%;
      margin-right: 10%;
      
    
  }
  th, td {
    padding: 10px;
  }
}
@media only screen and (max-width: 576px){
  .wrapper{
      width: 100%;
   
  }
  main {
   
      width: 90%; 
      margin-left: 5%;
      margin-right: 5%;
      
    
  }
  
}
