.wrapper {
    width: 80%;
    height: 100vh;
    margin:auto;
    background-color: #effffb;
}

header {
    background-color: #e1f2fb ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    padding-left:10px;
  
}

header h4 {
    padding-right: 10px;
}

.main {
    margin-top: 20px;
    width: 50%;
    background-color: #f6f4e6 ;
    height:500px;
}

.start-view {
    display: flex;
    flex-direction: column;
}

.start-view h2, .start-button {
    align-self:center;
}

.question1 {
    display: none;
}
.question2 {
    display: none;
}
.question3 {
    display: none;
}

.quiz-end {
    display: none;
}